name: Docs

on:
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: docs-deploy
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Deploy docs
        uses: ./.github/actions/deploy-docs
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
